.filter-mobile {
    position: fixed;
    top: 0;
    right: -380px;
    z-index: 10;
    transition: all .5s ease;
    width: 380px;
    height: 100vh;
    max-width: calc(100% - 20px);
    background: #fff;
    padding: 0px 20px 50px; 
    overflow-y:scroll; 
    .featured-product {
        .wrap .row .col-lg-6:last-child {
            padding-left: 30px;
            padding-bottom: 20px;
        }
    }
    .our-blog, .post, .caption, .comment {
        margin-bottom: 40px;
    }
    .our-blog {
        padding-top: 25px;
    }
    h4 {
        margin-bottom: 25px;
    }
    .tag-blog {
        margin-top: 30px;
    }
    .sidebar-left {
        box-shadow: 0px 0px 5px #00000040;
    }
    .filter-product__first {
        padding-top: 51px;
    }
     .filter-size ul li a {
        width: 60px;
        height: 60px;
        line-height: 60px;
     }
}
.filter-mobile.active {
    right: 0;
}
.bg-filter-overlay {
    &.active {
        background-color: rgba(45, 51, 55, 0.66);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
    }
}
.button-filter {
    position: fixed;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &:before {
        font-size: inherit;
        font-style: normal;
        line-height: 1;
        font-size: 18px;
        width: 50px;
        height: 50px;
        line-height: 52px;
        text-align: center;
        background:$link-hover-color;
        display: inline-block;
        border-radius: 50%;
        left: 0;
        letter-spacing: 1px;
        bottom: -20%;
        position: absolute;
        color: #fff;
        font-weight: 100;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    }
}
.change-button-filter {
    position: fixed;
    left: 2px;
    top: 50%;
    z-index: 100;
    &:before {
        font-size: inherit;
        font-style: normal;
        line-height: 1;
        font-size: 18px;
        width: 50px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        background:$link-hover-color;
        display: inline-block;
        border-radius: 50%;
        left: 0;
        letter-spacing: 1px;
        bottom: -20%;
        position: absolute;
        color: #fff;
        font-weight: 100;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);

    }
}
@media only screen and (max-width: 992px) {
    .slidebar-col-3 {
        display: none;
    }
    
}
@media only screen and (min-width: 992px) {
    .slidebar-col-3 {
        display: block;
    }
}