
<main *ngIf="back.lang == 'es'">

    <!-- <section class="slide-about-us img-fluid ">
        <div class="title text-center">
            <h3 class="heading-3 font-weight-bold  text-white">
                Contact Us
            </h3>
            <p class="para-fs30 mb-0  text-white"><a href="javascript:void(0)" class=" text-white para-fs30">Menu</a> / Contact Us</p>
        </div>
    </section> -->

    <section class="section-banner-home4-v1">
        <div class="my-container">
            <div class="banner relative image-effect">
                <img src="assets/img/page4.banner1.jpg" alt="_img banner Homepage4" class="img-fluid w-100">
                <div class="title absolute">
                    <!-- <p class="para-fs30">Olive Blazer</p> -->
                    <!-- <h3 class="heading-3 font-weight-bold text-capitalize">Casual Just Do It</h3> -->
                    <!-- <p class="para-fs30 font-weight-bold ">Season Off 30 - 10%</p> -->
                    <!-- <a href="grid-slidebar-left.html" class="btn-shop-now">More Info</a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="section-contact-us">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 detail">
                    <br><h3 class="heading-3  mb-0">Política de Privacidad</h3><br>
                    <p class="col-10 para-fs18 font-2 pl-0" style="padding-right: 20px">
                        Política de Privacidad de MD Meeting.
                    </p>
                    <ul>
                        <!-- <li><i class="lnr lnr-home"></i><span>Address: </span> Hill Stress, Beverly Hill.</li> -->
                        <!-- <li><i class="lnr lnr-phone"></i><span>Telephone: </span> +01 234 567 89</li> -->
                        <li><i class="lnr lnr-envelope"></i><span>Email: </span> <a href="#">md-meeting@themyt.com</a></li>
                        <!-- <li><i class="lnr lnr-clock"></i><span>Open Door: </span> 8:00 - 19:00, Mon - Sat</li> -->
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 contact">
                    <br><h4 class="heading-3"></h4><br>
                    <p>La presente Política de Privacidad establece los términos en que
                        MD-MEETING usa y protege la información que es proporcionada
                        por sus usuarios al momento de registrarse. Esta compañía está
                        comprometida con la seguridad de los datos de sus usuarios. Cuando
                        le pedimos llenar los campos de información personal con la cual
                        usted pueda ser identificado, lo hacemos asegurando que sólo se
                        empleará de acuerdo con los términos de este documento. Sin
                        embargo, esta Política de Privacidad puede cambiar con el tiempo o
                        ser actualizada por lo que le recomendamos y enfatizamos revisar
                        continuamente esta página para asegurarse que está de acuerdo con
                        dichos cambios.</p>
                        <br><h4 class="heading-3">Información que es recogida</h4><br>
                        <p>MD-MEETING podrá recoger información personal, por ejemplo:
                            Nombre, información de contacto como su dirección de correo
                            electrónica e información demográfica. Así mismo cuando sea
                            necesario podrá ser requerida información específica para procesar
                            algún pedido o realizar una entrega o facturación.
                        </p>
                        <br><h4 class="heading-3">Uso de la información recogida</h4><br>
                        <p>MD-MEETING emplea la información con el fin de proporcionar el
                            mejor servicio posible, particularmente para mantener un registro de
                            usuarios, de pedidos en caso que aplique, y mejorar nuestros
                            productos y servicios. Es posible que sean enviados correos
                            electrónicos periódicamente a través de MD-MEETING con ofertas
                            especiales, nuevos productos y otra información publicitaria que
                            consideremos relevante para usted o que pueda brindarle algún
                            beneficio, estos correos electrónicos serán enviados a la dirección
                            que usted proporcione y podrán ser cancelados en cualquier
                            momento. MD-MEETING está altamente comprometido para
                            cumplir con el compromiso de mantener su información segura.
                            Usamos los sistemas más avanzados y los actualizamos
                            constantemente para asegurarnos que no exista ningún acceso no
                            autorizado.
                        </p>
                        <br><h4 class="heading-3">Cookies</h4><br>
                        <p>Una cookie se refiere a un fichero que es enviado con la finalidad de
                            solicitar permiso para almacenarse en su ordenador, al aceptar dicho
                            fichero se crea y la cookie sirve entonces para tener información
                            respecto al tráfico web, y también facilita las futuras visitas a una
                            web recurrente. Otra función que tienen las cookies es que con ellas
                            las webs pueden reconocerte individualmente y por tanto brindarte
                            el mejor servicio personalizado de su web. MD-MEETING podría
                            emplear las cookies para poder identificar las páginas que son
                            visitadas y su frecuencia. Esta información es empleada únicamente
                            para análisis estadístico y después la información se elimina de
                            forma permanente. Usted puede eliminar las cookies en cualquier
                            momento desde su ordenador. Sin embargo, las cookies ayudan a
                            proporcionar un mejor servicio de los sitios web, estás no dan acceso
                            a información de su ordenador ni de usted, a menos de que usted así
                            lo quiera y la proporcione directamente. Usted puede aceptar o negar
                            el uso de cookies, sin embargo, la mayoría de navegadores aceptan
                            cookies automáticamente pues sirve para tener un mejor servicio
                            web. También usted puede cambiar la configuración de su ordenador
                            para declinar las cookies. Si se declinan es posible que no pueda
                            utilizar algunos de nuestros servicios. 
                        </p>
                        <br><h4 class="heading-3">Enlaces a Terceros</h4><br>
                        <p>MD-MEETING pudiera contener enlaces a otros sitios que pudieran
                            ser de su interés. Una vez que usted de clic en estos enlaces y
                            abandone nuestra página, ya no tenemos control sobre al sitio al que
                            es redirigido y por lo tanto no somos responsables de los términos o
                            privacidad ni de la protección de sus datos en esos otros sitios
                            terceros. Dichos sitios están sujetos a sus propias políticas de
                            privacidad por lo cual es recomendable que los consulte para
                            confirmar que usted está de acuerdo con estas. Control de su
                            información personal En cualquier momento usted puede restringir
                            la recopilación o el uso de la información personal que es
                            proporcionada a MD-MEETING. Esta compañía no venderá, cederá
                            ni distribuirá la información personal que es recopilada, sin su
                            consentimiento, salvo que sea requerido por un juez con una orden
                            judicial. Se reserva el derecho de cambiar los términos de la presente
                            Política de Privacidad en cualquier momento. 
                        </p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section-map">
        <div class="my-container">
            <img src="img/map.jpg" alt="_img map" class="img-fluid w-100">
        </div>
    </section> -->

    <!-- <section class="section-support-v1 padding-bot-120 padding-top-60">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-truck"></i></div>
                        <div class="content">
                            <p class="m-0">Free Shipping</p>
                            <span>Free shipping on all UK order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-gift"></i></div>
                        <div class="content">
                            <p class="m-0">Valuable Gifts</p>
                            <span>Free gift after every 10 order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-headphone-alt"></i></div>
                        <div class="content">
                            <p class="m-0">All Day Support</p>
                            <span>Call us for free: +01 234 567 89</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="icon-ecommerce-sale d-flex align-items-center"></i></div>
                        <div class="content">
                            <p class="m-0">Seasonal Sale</p>
                            <span>Discounts up to 50% on all</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

</main>
<main *ngIf="back.lang == 'en'">

    <!-- <section class="slide-about-us img-fluid ">
        <div class="title text-center">
            <h3 class="heading-3 font-weight-bold  text-white">
                Contact Us
            </h3>
            <p class="para-fs30 mb-0  text-white"><a href="javascript:void(0)" class=" text-white para-fs30">Menu</a> / Contact Us</p>
        </div>
    </section> -->

    <section class="section-banner-home4-v1">
        <div class="my-container">
            <div class="banner relative image-effect">
                <img src="assets/img/page4.banner1.jpg" alt="_img banner Homepage4" class="img-fluid w-100">
                <div class="title absolute">
                    <!-- <p class="para-fs30">Olive Blazer</p> -->
                    <!-- <h3 class="heading-3 font-weight-bold text-capitalize">Casual Just Do It</h3> -->
                    <!-- <p class="para-fs30 font-weight-bold ">Season Off 30 - 10%</p> -->
                    <!-- <a href="grid-slidebar-left.html" class="btn-shop-now">More Info</a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="section-contact-us">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 detail">
                    <br><h3 class="heading-3  mb-0">Privacy Policy</h3><br>
                    <p class="col-10 para-fs18 font-2 pl-0" style="padding-right: 20px">
                        MD-MEETING PRIVACY POLICY.<br>

                    </p>
                    <ul>
                        <!-- <li><i class="lnr lnr-home"></i><span>Address: </span> Hill Stress, Beverly Hill.</li> -->
                        <!-- <li><i class="lnr lnr-phone"></i><span>Telephone: </span> +01 234 567 89</li> -->
                        <li><i class="lnr lnr-envelope"></i><span>Email: </span> <a href="#">md-meeting@themyt.com</a></li>
                        <!-- <li><i class="lnr lnr-clock"></i><span>Open Door: </span> 8:00 - 19:00, Mon - Sat</li> -->
                    </ul>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 contact">
                    <br><h4 class="heading-3"></h4><br>
                    <p>This Privacy Policy establishes the terms in which
                        MD-MEETING uses and protects the information that is provided
                        by its users at the time of registration. This company is
                        committed to the security of its users' data. When
                        We ask you to fill out the personal information fields with which
                        you can be identified, we do so by ensuring that only
                        will be used in accordance with the terms of this document. Without
                        However, this Privacy Policy may change over time or
                        be updated so we recommend and emphasize reviewing
                        continually this page to ensure that you agree with
                        such changes.</p>
                        <br><h4 class="heading-3">Information that is collected</h4><br>
                        <p>MD-MEETING may collect personal information, for example:
                            Name, contact information such as your email address
                            electronic and demographic information. Likewise whenever
                            necessary, specific information may be required to process
                            place an order or make a delivery or billing.
                        </p>
                        <br><h4 class="heading-3">Use of collected information</h4><br>
                        <p>MD-MEETING uses the information in order to provide the
                            best possible service, particularly to keep a record of
                            users, orders if applicable, and improve our
                            products and services. Emails may be sent
                            periodically via MD-MEETING with offers
                            specials, new products and other advertising information that
                            we consider relevant to you or that may provide you with some
                            benefit, these emails will be sent to the address
                            that you provide and may be canceled at any time.
                            moment. MD-MEETING is highly committed to
                            fulfill the commitment to keep your information secure.
                            We use the most advanced systems and update them
                            constantly to ensure that there is no unauthorized access
                            authorized.
                        </p>
                        <br><h4 class="heading-3">Cookies</h4><br>
                        <p>A cookie refers to a file that is sent for the purpose of
                            request permission to be stored on your computer, by accepting said
                            file is created and the cookie is then used to have information
                            regarding web traffic, and also facilitates future visits to a
                            recurring website. Another function that cookies have is that with them
                            The websites can recognize you individually and therefore provide you
                            the best personalized service on your website. MD-MEETING could
                            use cookies to identify the pages that are
                            visited and their frequency. This information is used only
                            for statistical analysis and then the information is removed from
                            permanently. You can delete cookies at any
                            moment from your computer. However, cookies help
                            provide better service than websites, these do not give access
                            to information from your computer or from you, unless you do so.
                            you want it and provide it directly. You can accept or deny
                            the use of cookies, however, most browsers accept
                            cookies automatically as it serves to have a better service
                            Web. You can also change your computer settings
                            to decline cookies. If they decline you may not be able to
                            use some of our services.
                        </p>
                        <br><h4 class="heading-3">Links to Third Parties</h4><br>
                        <p>MD-MEETING may contain links to other sites that may
                            be of interest to you. Once you click on these links and
                            leave our page, we no longer have control over the site you go to.
                            is redirected and therefore we are not responsible for the terms or
                            privacy or the protection of your data on these other sites
                            third parties. These sites are subject to their own privacy policies.
                            privacy, so it is recommended that you consult them to
                            confirm that you agree to these. Control of your
                            personal information At any time you can restrict
                            the collection or use of personal information that is
                            provided to MD-MEETING. This company will not sell, it will give up
                            nor distribute the personal information that is collected, without your
                            consent, unless required by a judge with an order
                            judicial. The right is reserved to change the terms of this
                            Privacy Policy at any time.
                        </p>
                    <!--<form action="/action_page.php">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 margin-bot-30">
                                <input type="text" class="form-control" placeholder="Name*" name="name">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 margin-bot-30">
                                <input type="email" class="form-control" placeholder="Email*" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 margin-bot-30">
                                <input type="text" class="form-control" placeholder="Subject" name="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message*" class="w-100"></textarea>
                            </div>
                        </div>
                        <button type="submit" name="submit">Send</button>
                    </form>-->
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section-map">
        <div class="my-container">
            <img src="img/map.jpg" alt="_img map" class="img-fluid w-100">
        </div>
    </section> -->

    <!-- <section class="section-support-v1 padding-bot-120 padding-top-60">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-truck"></i></div>
                        <div class="content">
                            <p class="m-0">Free Shipping</p>
                            <span>Free shipping on all UK order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-gift"></i></div>
                        <div class="content">
                            <p class="m-0">Valuable Gifts</p>
                            <span>Free gift after every 10 order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-headphone-alt"></i></div>
                        <div class="content">
                            <p class="m-0">All Day Support</p>
                            <span>Call us for free: +01 234 567 89</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="icon-ecommerce-sale d-flex align-items-center"></i></div>
                        <div class="content">
                            <p class="m-0">Seasonal Sale</p>
                            <span>Discounts up to 50% on all</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

</main>