<main>
    <section class="section-slide img-fluid">
        <div class="title text-center">
            <!-- <img src="img/md_meeting_logo_2.png"width="350px"> -->
            <h3 *ngIf="back.lang == 'en'" class="heading-3">{{nombreCategoriaEN}}</h3>
            <h3 *ngIf="back.lang == 'es'" class="heading-3">{{nombreCategoriaES}}</h3>
            <p *ngIf="back.lang == 'en'" class="para-fs30 m-0"><a href="#" class="text-white" >Categories</a></p>
            <p *ngIf="back.lang == 'es'" class="para-fs30 m-0"><a href="#" class="text-white" >Categorías</a></p>
        </div>
    </section>
    <section>
        <div class="my-container">
            <div class="js-filter-popup filter-mobile column-left">
                <div class="our-blog">
                    <h4 *ngIf="back.lang == 'en'" class="heading-4 font-weight-bold">Categories</h4>
                    <h4 *ngIf="back.lang == 'es'" class="heading-4 font-weight-bold">Categorías</h4>
                   
                    <ul>

                        <li *ngFor="let item of itemscategoria | async" lass="item-menu">
                            
                            <a href="javascript:void(0)"*ngIf="back.lang === 'es'">{{ item['nombre-es-MX']}}</a>
                            <a href="javascript:void(0)"*ngIf="back.lang === 'en'">{{ item['nombre-en']}}</a>
                        </li>
                        
                    </ul>
                </div>
            
                <div class="row filter-tag p-0 tag-blog">
                    <div class="col-12">
                        <h4  *ngIf="back.lang == 'en'" class="heading-4">Event type</h4>
                        <h4  *ngIf="back.lang == 'es'" class="heading-4"> Tipo de evento</h4>
                        
                        <ul class="list-tag d-flex flex-wrap">
                            <li *ngFor="let item of tipoEventocategoria | async" lass="item-menu">
                                <a href="javascript:void(0)"*ngIf="back.lang === 'es'">{{ item['nombre-es-MX']}}</a>
                                <a href="javascript:void(0)"*ngIf="back.lang === 'en'">{{ item['nombre-en']}}</a>
                            </li>
                         
                        </ul> 
                    </div>
                </div>
            </div>
            <span class="button-filter ti-filter js-filter d-lg-none">
            </span>
            <span class="change-button-filter ti-close js-close-filter d-none">
            </span>
            <div class="js-bg-filter bg-filter-overlay ">
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3  column-left slidebar-col-3">
                    <div class="our-blog">
                        
                        <h4 *ngIf="back.lang == 'en'" class="heading-4 font-weight-bold">Categories</h4>
                        <h4 *ngIf="back.lang == 'es'" class="heading-4 font-weight-bold">Categorías</h4>
                        <ul>
                            <li *ngFor="let item of itemscategoria | async" lass="item-menu">
                                <a [routerLink]="['/selected-categorie', item.id, item['nombre-en'], item['nombre-es-MX']]"*ngIf="back.lang === 'es'">{{ item['nombre-es-MX']}}</a>
                                <a [routerLink]="['/selected-categorie', item.id, item['nombre-en'], item['nombre-es-MX']]" *ngIf="back.lang === 'en'">{{ item['nombre-en']}}</a>
                            </li>
                           
                           
                        </ul>
                    </div>
                   
                    <div class="tags">
                        
                        <h4 *ngIf="back.lang == 'en'" class="heading-4">Event type</h4>
                        <h4 *ngIf="back.lang == 'es'" class="heading-4">Tipo de evento</h4>
                        <ul class="list-tag d-flex flex-wrap">

                            <li *ngFor="let itemTipo of tipoEventocategoria | async" class="item-tag">
                                <a [routerLink]="['/selected-type', itemTipo.id, itemTipo['nombre-en'], itemTipo['nombre-es-MX']]"*ngIf="back.lang === 'es'">{{ itemTipo['nombre-es-MX']}}</a>
                                <a [routerLink]="['/selected-type', itemTipo.id, itemTipo['nombre-en'], itemTipo['nombre-es-MX']]"*ngIf="back.lang === 'en'">{{ itemTipo['nombre-en']}}</a>
                            </li>
                         
                         
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9  column-right">
                    <div class="bread-crumb ">
                        
                        <h4 *ngIf="back.lang == 'en'" class="heading-4 font-weight-bold">Events</h4>
                        <h4 *ngIf="back.lang == 'es'" class="heading-4 font-weight-bold">Eventos</h4>
                        <div class="tag">
                            
                            <!-- <a href="javascript:void(0)">Clasificación</a>/ -->

                        </div>
                        <div class="form-search">
                            <form action="/action_page.php" method="POST" class="form-top">
                                <div class="input-group input-search">
                                    <input  *ngIf="back.lang == 'en'" type="search" class="form-control" name="search" placeholder="Search..." [(ngModel)]="terminoBusquedaNombre" #nombre>
                                    <input  *ngIf="back.lang == 'es'" type="search" class="form-control" name="search" placeholder="Buscar..." [(ngModel)]="terminoBusquedaNombre" #nombre>
                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="lnr lnr-magnifier"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div *ngFor="let item of items | async | nombreFiltro: terminoBusquedaNombre"  class="row post margin-bot-30">
                        <div class="col-xl-6 col-lg-6 col-md-6 ">
                            <a [routerLink]="['/detail', item.id]">
                                <img [src]="item.imagenPromocional" alt="_img news" class="img-fluid w-100" >
                                <span class="overlay"></span>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 ">
                            <div class="caption">
                                <a [routerLink]="['/detail', item.id]" class="font-weight-bold ">{{item.nombre}}</a>
                            </div>
                            <div class="details font-2">
                                {{item.descripcion}}
                            </div>

                            <div class="d-flex time">
                                <!-- <div class="comment">
                                    <a href="#"><i class="ti-comments"></i>
                                    05 Comments</a>
                                </div> -->
                                <div class="date">
                                    <i class="ti-time"></i>
                                    <span>{{item.fechaInicio.toDate()| date: 'dd/MM/yyyy HH:mm'}}</span>
                                </div>
                                
                            </div>
                            
                            <div class="d-flex time">
                                <div class="date">
                                    <i class="ti-world"></i>
                                    <span>{{item.lugar}}</span>
                                </div>
                            </div>
                            <div class="d-flex time">
                                <div class="date">
                                    <i class="ti-briefcase"></i>
                                    <span>{{item.institucionOrganizadora}}</span>
                                </div>
                            </div>
                            

                            <div class="author d-flex align-items-center">
                                <!-- <div class="img" >
                                    <img src="img/our-blog-v1-circle1.jpg" alt="_img author Ourblog v1" class="img-fluid" >
                                    <span class="overlay"></span>
                                </div> -->
                                <a href="{{item.linkPaginaEvento}}" target="_blank" class="btn-shop-now" style="color: aliceblue;">Website</a>
                            </div>
                        </div>
                    </div>
                  


                    <!-- <div class="section-next-page section-next-page__blog1">
                        <div class="content d-flex  justify-content-center">
                            <div class="prev-arrow arrow">
                                <a href="javascript:void(0)"><i class="lnr lnr-arrow-left"></i></a>
                            </div>
                            <div class="page d-flex align-items-center">
                                <div class="select-page">
                                    <select name="page" id="page" class="page">
                                        <option value="page1">Page  01</option>
                                        <option value="page2">Page  02</option>
                                        <option value="page3">Page  03</option>
                                        <option value="page4">Page  04</option>
                                        <option value="page5">Page  05</option>
                                        <option value="page6">Page  06</option>
                                    </select>
                                    <span><i class="fa fa-sort-down"></i></span>
                                </div>
                                of 06
                            </div>
                            <div class="next-arrow arrow">
                                <a href="javascript:void(0)"><i class="lnr lnr-arrow-right"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</main>
