<main>

    <!-- <section class="slide-about-us img-fluid ">
        <div class="title text-center">
            <h3 class="heading-3 font-weight-bold  text-white">
                Contact Us
            </h3>
            <p class="para-fs30 mb-0  text-white"><a href="javascript:void(0)" class=" text-white para-fs30">Menu</a> / Contact Us</p>
        </div>
    </section> -->

    <section class="section-banner-home4-v1">
        <div class="my-container">
            <div class="banner relative image-effect">
                <img src="assets/img/img_about_us.jpg" alt="_img banner Homepage4" class="img-fluid w-100">
                <div class="title absolute">
                    <!-- <p class="para-fs30">Olive Blazer</p> -->
                    <h3 class="heading-3 font-weight-bold text-capitalize">Acerca de nosotros</h3>
                    <!-- <p class="para-fs30 font-weight-bold ">Season Off 30 - 10%</p> -->
                    <!-- <a href="grid-slidebar-left.html" class="btn-shop-now">More Info</a> -->
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="section-history">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="year para-fs18">Learning Together</div>
                    <h3 class="heading-3 font-weight-bold">Bienvenido a MD Meeting.</h3>
                    <div class="font-2 para-fs18 detail">Somos una plataforma digital de agenda y publicación de eventos médicos a nivel mundial.</div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                    <div class="quote">
                        <q class="">Misión y visión de la plataforma.</q>
                        <p class="">Breve descripción.</p>
                        <img src="assets/img/md_meeting_logo.png" alt="_img font matsury" class="" width="250px">
                        <div class=""><span>El equipo </span> - MD Meeting</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-countdown-v2">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 padding-bot-30 countdown-img">
                    <div class="js-countdown-slick-show countdown-home2">
                        <div class="image">
                            <img src="assets/img/shoes-slick.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                        </div>
                        <div class="image">
                            <img src="assets/img/shoes-slick.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                        </div>
                        <div class="image">
                            <img src="assets/img/shoes-slick.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                        </div>
                    </div>
                    <div class="point-v21 js-popup-lookbook">
                        <a href="javascript:void(0)"><img src="assets/img/point_page2.png" alt="_img point Homepage2"></a>
                        <div class="content-popup popup-lookbook box">
                            <h6 class="text-center m-0">www</h6>
                            <p class="m-0">Publicamos tu evento a nivel mundial.</p>
                        </div> 						</div>
                        <div class="point-v22 js-popup-lookbook ">
                            <a href="javascript:void(0)"><img src="assets/img/point_page2.png" alt="_img point Homepage2"></a>
                            <div class="content-popup popup-lookbook box">
                                <h6 class="text-center m-0">iOS</h6>
                                <p class="m-0">Encuentra nustra App en App Store.</p>
                            </div>
                        </div>
                        <div class="point-v23 js-popup-lookbook">
                            <a href="javascript:void(0)"><img src="assets/img/point_page2.png" alt="_img point Homepage2"></a>
                            <div class="content-popup popup-lookbook box">
                                <h6 class="text-center m-0">Android</h6>
                                <p class="m-0">Encuentra nuestra App en Play Store.</p>
                            </div>
                        </div>
                        <div class="point-v24 js-popup-lookbook">
                            <a href="javascript:void(0)"><img src="assets/img/point_page2.png" alt="_img point Homepage2"></a>
                            <div class="content-popup popup-lookbook box">
                                <h6 class="text-center m-0">Gratis</h6>
                                <p class="m-0">Nuestra plataforma es gratuita.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 hot-deal">
                        <h3 class="heading-3 font-weight-bold text-capitalize">Aprendamos juntos </h3>
                        <div class="js-countdown countdown">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <div>
                                        <span id="days" class="number dots">
                                        </span>
                                        <!-- <b>:</b> -->
                                    </div>
                                    <!-- <p class="text">days</p> -->
                                </li>
                                <li class="item">
                                    <div>
                                        <span id="hours" class="number dots">
                                        </span>
                                        <!-- <b>:</b> -->
                                    </div>
                                    <!-- <p  class="text">hours</p> -->
                                </li>
                                <li class="item">
                                    <div>
                                        <span id="minutes" class="number dots">
                                        </span>
                                        <!-- <b>:</b> -->
                                    </div>

                                    <!-- <p  class="text">mins</p> -->
                                </li>
                                <li class="item">
                                    <span id="seconds" class="number">
                                    </span>
                                    <!-- <p  class="text">secs</p> -->
                                </li>
                            </ul>
                            <p id="EXPIRED"></p>
                        </div>
                        <!-- <h3 class="heading-3 font-weight-bold">Extreme Cashmere 2019</h3> -->
                        <!-- <div class="dollar"><span class="heading-3 font-weight-bold">$200</span><del>$250</del></div> -->
                        <div class="js-countdown-slick-title  countdown-slick-title">
                            <div class="countdown-title">
                                <img src="assets/img/page2_countdown2.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                            </div>
                            <div class="countdown-title">
                                <img src="assets/img/page2_countdown6.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                            </div>
                            <div class="countdown-title">
                                <img src="assets/img/page2_countdown4.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                            </div>
                            <div class="countdown-title">
                                <img src="assets/img/page2_countdown5.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                            </div>
                            <div class="countdown-title">
                                <img src="assets/img/page2_countdown3.png" alt="_img Homepagev2 Countdown" class="img-fluid w-100">
                            </div>
                        </div>
                        <a href="javascript:void(0)" class=" btn-shop-now" >Ir a la Agenda</a>
                    </div>
                </div>
            </div>
        </section>
    <!-- <section class="section-banner-v1-page2">
        <div class="my-container">
            <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="banner01 relative image-effect">
                        <a href="grid-slidebar-left.html">
                            <img src="img/page2_banner01.jpg" alt="_img banner" class="img-fluid w-100 ">
                        </a>
                        <div class="title absolute w-100 text-center">
                            <h3 class="m-0 heading-3 font-weight-bold">Run Don't Hide</h3>
                            <p class="para-fs30 m-0">Gina Flash Be Seen</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <div class="banner02 relative image-effect">
                                <a href="grid-slidebar-left.html">
                                    <img src="img/page2_banner02.jpg" alt="_img banner Homepage 2" class="img-fluid w-100" >
                                </a>
                                <div class="title absolute">
                                    <p class="para-fs30 m-0">
                                        Women's Training
                                    </p>
                                    <h3 class="heading-3 text-capitalize font-weight-bold">New Collection</h3>
                                    <h6 class="para-fs30 text-capitalize font-weight-bold">Best Sellers</h6>
                                    <a href="grid-slidebar-left.html" class="btn-shop-now">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-50" style="background: #f4f4f4; overflow: hidden;">
                            <div class="banner03 text-center relative ">
                                <div class="title absolute">
                                    <h6 class="para-fs30 font-weight-bold">Hello Summer 2019</h6>
                                    <h3 class="heading-3 font-weight-bold">Extra 50%Off</h3>
                                    <p class="para-fs18">It is a long established fact that a reader will
                                        be distracted by the readable content of a page when
                                    looking at its layout.</p>
                                    <a href="grid-slidebar-left.html" class="btn-shop-now">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="banner04 relative text-center image-effect">
                                <a href="grid-slidebar-left.html">
                                    <img src="img/page2_banner04.jpg" alt="_img banner Homepage v2" class="img-fluid w-100">
                                </a>
                                <div class="title absolute w-100">
                                    <p class="para-fs30 m-0 text-capitalize">Gina Dress</p>
                                    <h3 class="heading-3 font-weight-bold text-capitalize">Collection 2019</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="section-newsletter-home5">
    <div class="my-container">
        <div class="row d-flex center">
            <div class="col-xl-6 col-lg-6 col-md-6 ">
                <h3 class="heading-3 text-capitalize font-weight-bold">Newsletter</h3>
                <p class="m-0">Ingresa tu dirección de correo electrónico y te mantendremos informado de los eventos médicos de tu interés.</p>
                <!-- <p class="m-0">Enter your email address for our mailing list to keep your self update.</p> -->
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center align-items-center">
                <form action="#" class="form-group relative  d-flex justify-content-center align-items-center w-100" method="POST">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email" name="email">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="lnr lnr-envelope"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    <!-- <section class="section-map">
        <div class="my-container">
            <img src="img/map.jpg" alt="_img map" class="img-fluid w-100">
        </div>
    </section> -->

    <!-- <section class="section-support-v1 padding-bot-120 padding-top-60">
        <div class="my-container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-truck"></i></div>
                        <div class="content">
                            <p class="m-0">Free Shipping</p>
                            <span>Free shipping on all UK order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-gift"></i></div>
                        <div class="content">
                            <p class="m-0">Valuable Gifts</p>
                            <span>Free gift after every 10 order</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="ti-headphone-alt"></i></div>
                        <div class="content">
                            <p class="m-0">All Day Support</p>
                            <span>Call us for free: +01 234 567 89</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="box">
                        <div class="icon"><i class="icon-ecommerce-sale d-flex align-items-center"></i></div>
                        <div class="content">
                            <p class="m-0">Seasonal Sale</p>
                            <span>Discounts up to 50% on all</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

</main>
